extends ../layout
include ../mixins/_preloader
include ../mixins/_go-up

block append vendorCss
	link(rel='stylesheet', href='/static/vendors/flatpickr/flatpickr.min.css')

block title
	title New booking - Flight Finder

block preloader
	+preLoaderImage#preloader

block content
	main.bg-gray(role='main')
		.container.py-5
			.row.justify-content-center
				.col-lg-8.col-xl-9.mt-lg-1
					form#newBookingForm.needs-validation(method='POST', action='/booking/new-booking/thank-you', novalidate='')
						input#totalPriceInput(type='hidden', name='finalPrice', value=`${flight.totalPrice}`, required='')
						#whosIsTravelling.mb-3
							.bg-dark.text-white.border.rounded-5.px-3.py-2.mb-3
								h4.text-center.font-size-22.font-weight-bold.mb-0 Who&apos;s travelling?
							each _, i in Array(query.passengers.adults)
								.card.shadow-soft.mt-2(id=`passenger-${i}`)
									.card-collapse
										h5.mb-0
											button.btn.btn-link.btn-block.card-btn.px-4.py-3(
												type='button',
												data-toggle='collapse',
												data-target=`#passengerDetails-${i}`,
												aria-expanded='false',
												aria-controls=`passengerDetails-${i}`
											)
												span.flex-vertical-center
													.badge-counter #{i + 1}
													span.section-header.font-size-19.font-weight-medium.ml-2 Passenger
												span.card-btn-caret
													i.fas.fa-chevron-down
									.passenger-details-card.collapse(
										id=`passengerDetails-${i}`,
										data-parent='#whosIsTravelling',
										data-summary-target=`#passengerSummary-${i}`
									)
										.card-body.px-4.pb-4.pt-0
											.personal-info
												h5.section-subtitle.section-subtitle-tab.font-size-18 Personal information
												.row
													.col-md-12.col-xl
														.row
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`firstNamePassenger-${i}`) First name
																input.form-control(
																	id=`firstNamePassenger-${i}`,
																	type='text',
																	name=`firstNamePassenger-${i}`,
																	placeholder='John',
																	data-toggle='sync-text',
																	data-sync-controls='first-name',
																	data-sync-placeholder='Passenger',
																	data-sync-parent=`passengerFullname-${i}`,
																	required=''
																)
																.invalid-feedback First name is required.
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`lastNamePassenger-${i}`) Last name
																input.form-control(
																	id=`lastNamePassenger-${i}`,
																	type='text',
																	name=`lastNamePassenger-${i}`,
																	placeholder='Doe',
																	data-toggle='sync-text',
																	data-sync-controls='last-name',
																	data-sync-placeholder='',
																	data-sync-parent=`passengerFullname-${i}`,
																	required=''
																)
																.invalid-feedback Last name is required.
													.col-md-12.col-xl
														.row
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`birthDatePassenger-${i}`) Date of Birth
																.custom-datepicker
																	input.form-control.text-truncate.flatpickr-input(
																		id=`birthDatePassenger-${i}`,
																		type='date',
																		name=`birthDatePassenger-${i}`,
																		data-mode='single',
																		data-min-date='1950-1-1',
																		data-max-date='2005-12-31',
																		data-alt-format='d M Y',
																		data-date-format='Y-m-d',
																		data-month-selector-type='dropdown',
																		data-year-selector-type='dropdown',
																		placeholder='dd mm yyyy',
																		required=''
																	)
																	.invalid-feedback Date of birth is required.
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`genderPassenger-${i}`) Gender
																.custom-select2
																	select.select2-input.form-control.custom-select(
																		id=`genderPassenger-${i}`,
																		name=`genderPassenger-${i}`,
																		data-minimum-results-for-search='Infinity',
																		data-placeholder='Male',
																		required=''
																	)
																		option(selected='', value='', disabled='', hidden='')
																		option(value='male') Male
																		option(value='female') Female
																	.invalid-feedback Gender is required.
												.row
													.col-md.col-lg-12.col-xl
														.row
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`nationalityPassenger-${i}`) Nationality
																.custom-select2
																	select.select2-input.form-control.custom-select(
																		id=`nationalityPassenger-${i}`,
																		name=`nationalityPassenger-${i}`,
																		data-placeholder='Greek',
																		required=''
																	)
																		option(selected='', value='', disabled='', hidden='')
																		each country in countries
																			option(value=`${country.code}`) #{country.nationality}
																	.invalid-feedback Nationality is required.
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`idTypePassenger-${i}`) ID type
																.custom-select2
																	select.select2-input.form-control.custom-select(
																		id=`idTypePassenger-${i}`,
																		name=`idTypePassenger-${i}`,
																		data-minimum-results-for-search='Infinity',
																		required=''
																	)
																		option(value='passport', selected='') Passport
																		option(value='card') ID Card
																	.invalid-feedback ID type is required.
													.col-md.col-lg-12.col-xl
														.row
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`idPassenger-${i}`) ID number
																input.form-control(
																	id=`idPassenger-${i}`,
																	type='text',
																	pattern='[\\w\\d]{6,10}',
																	maxlength='10',
																	name=`idPassenger-${i}`,
																	placeholder='0123456789',
																	required=''
																)
																.invalid-feedback ID number is required.
															.form-group.col-sm-6
																label.font-size-15.text-muted.required(for=`idExpirationDatePassenger-${i}`) Expiration date
																.custom-datepicker
																	input.form-control.text-truncate.flatpickr-input(
																		id=`idExpirationDatePassenger-${i}`,
																		type='date',
																		name=`idExpirationDatePassenger-${i}`,
																		data-mode='single',
																		data-min-date='today',
																		data-max-date='2050-12-31',
																		data-alt-format='d M Y',
																		data-date-format='Y-m-d',
																		data-month-selector-type='dropdown',
																		data-year-selector-type='dropdown',
																		placeholder='dd mm yyyy',
																		required=''
																	)
																	.invalid-feedback Expiration date is required.
											.baggage-info
												input(
													type='hidden',
													name=`checkedBaggagePassenger-${i}`,
													value='{"oneway":{"cabin":1,"small":0,"large":0},"roundtrip":{"cabin":1,"small":0,"large":0}}'
												)
												h5.section-subtitle.section-subtitle-tab.font-size-18 Baggage
												.border.border-width-2.rounded-5.mb-3.mt-4
													table.baggage-list.table.table-responsive-sm.table-borderless.font-size-15.text-gray-1.text-center.align-cells-middle.mb-0
														thead.border-bottom
															tr
																th Type
																th Route
																th D/W
																th Price
																th
														tbody
															tr
																th.text-left.w-sm-25(scope='row') Cabin bag
																td #{query.isRoundtrip ? 'Both' : 'Dep'}
																td 42x32x20cm
																td Free
												.row
													.col-md
														.form-group.add-baggage(data-type='oneway')
															if query.isRoundtrip
																h6.text-gray-1 #{flight.departFromCity} to #{flight.departToCity}
															.form-row.align-items-end
																.col
																	.small-bag.d-flex.align-items-end.justify-content-center(data-weight='23', data-price='25')
																		i.fas.fa-suitcase-rolling.fa-3x.text-primary.mr-2
																		.text-center
																			h6.text-gray-1.mb-0 23 kg
																			button.btn.btn-sm.btn-outline-secondary.btn-add-bag.py-1.px-2.px-sm-3(type='button') + &euro;25
																.col
																	.large-bag.d-flex.align-items-end.justify-content-center(data-weight='32', data-price='50')
																		i.fas.fa-suitcase-rolling.fa-3x.text-primary.mr-2
																		.text-center
																			h6.text-gray-1.mb-0 32 kg
																			button.btn.btn-sm.btn-outline-secondary.btn-add-bag.py-1.px-2.px-sm-3(type='button') + &euro;50
													if query.isRoundtrip
														.col-md.border-md-left-dashed.border-width-2
															hr.d-md-none.border-top-dashed.border-width-2
															.form-group.add-baggage(data-type='roundtrip')
																h6.text-gray-1 #{flight.returnFromCity} to #{flight.returnToCity}
																.form-row.align-items-end
																	.col
																		.small-bag.d-flex.align-items-end.justify-content-center(data-weight='23', data-price='25')
																			i.fas.fa-suitcase-rolling.fa-3x.text-primary.mr-2
																			.text-center
																				h6.text-gray-1.mb-0 23 kg
																				button.btn.btn-sm.btn-outline-secondary.btn-add-bag.py-1.px-2.px-sm-3(type='button') + &euro;25
																	.col
																		.large-bag.d-flex.align-items-end.justify-content-center(data-weight='32', data-price='50')
																			i.fas.fa-suitcase-rolling.fa-3x.text-primary.mr-2
																			.text-center
																				h6.text-gray-1.mb-0 32 kg
																				button.btn.btn-sm.btn-outline-secondary.btn-add-bag.py-1.px-2.px-sm-3(type='button') + &euro;50
											.insurance-info
												input(type='hidden', name=`insurancePassenger-${i}`, value='none')
												h5.section-subtitle.section-subtitle-tab.font-size-18 Insurance
												.row.align-items-center.justify-content-center.mt-3
													.form-group.col-md.text-center.pr-md-2.pr-xl-3.mb-md-0
														.insurance-card(data-type='none', data-price='0')
															.position-relative
																button.btn.btn-icon.btn-xs.btn-remove-insurance.btn-secondary.rounded-circle(type='button')
																	i.fas.fa-times.fa-fw
															.insurance-card-body
																h6.font-size-18.flex-center.flex-column
																	i.fas.fa-heart-broken.fa-fw.fa-lg.mb-3
																	span No insurance
																ul.font-size-16.text-muted.mb-4
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Medical bills
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Trip cancellation
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Lost baggage
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Travel insurance
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Liability
																button.btn.btn-secondary.btn-select-insurance.w-75.py-2.mx-auto(type='button') &euro;0
													.form-group.col-md.text-center.px-md-2.px-xl-3.mb-md-0
														.insurance-card(data-type='basic', data-price='15')
															.position-relative
																button.btn.btn-icon.btn-xs.btn-remove-insurance.btn-secondary.rounded-circle(type='button')
																	i.fas.fa-times.fa-fw
															.insurance-card-body
																h6.font-size-18.flex-center.flex-column
																	i.fas.fa-star.fa-fw.fa-lg.mb-3
																	span Travel basic
																ul.font-size-16.text-muted.mb-4
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span.text-dark Medical bills
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span.text-dark Trip cancellation
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Lost baggage
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Travel insurance
																	li.flex-vertical-center
																		i.fas.fa-times.fa-fw.mr-2
																		span Liability
																button.btn.btn-secondary.btn-select-insurance.w-75.py-2.mx-auto(type='button') &euro;15
													.col-md.text-center.pl-md-2.pl-xl-3
														.insurance-card(data-type='plus', data-price='25')
															.position-relative
																button.btn.btn-icon.btn-xs.btn-remove-insurance.btn-secondary.rounded-circle(type='button')
																	i.fas.fa-times.fa-fw
															.insurance-card-body
																h6.font-size-18.flex-center.flex-column
																	i.fas.fa-briefcase-medical.fa-fw.fa-lg.mb-3
																	span Travel plus
																ul.font-size-16.text-dark.mb-4
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span Medical bills
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span Trip cancellation
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span Lost baggage
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span Travel insurance
																	li.flex-vertical-center
																		i.fas.fa-check.fa-fw.text-primary.mr-2
																		span Liability
																button.btn.btn-secondary.btn-select-insurance.w-75.py-2.mx-auto(type='button') &euro;25
						#whereToContact.mb-3
							.bg-dark.text-white.border.rounded-5.px-3.py-2.mb-3
								h4.text-center.font-size-22.font-weight-bold.mb-0 Where do we contact you?
							.card.shadow-soft
								.card-body.p-4
									.row
										.form-group.col-sm-6.col-xl.mb-xl-0
											label.font-size-15.text-muted.required(for='contactFirstName') First name
											input#contactFirstName.form-control(type='text', name='contactFirstName', placeholder='John', required='')
											.invalid-feedback First name is required.
										.form-group.col-sm-6.col-xl.mb-xl-0
											label.font-size-15.text-muted.required(for='contactLastName') First name
											input#contactLastName.form-control(type='text', name='contactLastName', placeholder='Doe', required='')
											.invalid-feedback Last name is required.
										.form-group.col-sm-6.col-xl.mb-sm-0
											label.font-size-15.text-muted.required(for='contactEmail') Email address
											input#contactEmail.form-control(
												type='email',
												name='contactEmail',
												placeholder='john@placeholder.com',
												required=''
											)
											.invalid-feedback Email address is required.
										.col-sm-6.col-xl
											label.font-size-15.text-muted.required(for='contactMobile') Mobile number
											input#contactMobile.form-control(
												type='tel',
												pattern='[0-9]{6,10}',
												maxlength='10',
												name='contactMobile',
												placeholder='0123456789',
												required=''
											)
											.invalid-feedback Mobile number is required.
						#howToPay.mb-3
							.bg-dark.text-white.border.rounded-5.px-3.py-2.mb-3
								h4.text-center.font-size-22.font-weight-bold.mb-0 How would you pay?
							.payment-card.card.shadow-soft
								.card-body.p-4
									ul#navPaymentTabs.nav.nav-choose.nav-justified.nav-xl-unjustified
										li.nav-item
											a#navCreditCardTab.nav-link.mr-xl-3.mb-4.active(
												data-type='credit',
												data-toggle='tab',
												href='#navCreditCard',
												role='tab',
												aria-controls='navCreditCard',
												aria-selected='true'
											)
												.nav-selected-icon
													i.fas.fa-check-circle.font-size-22.text-primary
												.flex-center.font-size-28.text-gray-1.h-100
													i.fab.fa-cc-visa.fa-fw.mr-1
													i.fab.fa-cc-amex.fa-fw.mr-1
													i.fab.fa-cc-mastercard.fa-fw
										li.nav-item
											a#navPayPalTab.nav-link.mb-4(
												data-type='paypal',
												data-toggle='tab',
												href='#navPayPal',
												role='tab',
												aria-controls='navPayPal',
												aria-selected='false'
											)
												.nav-selected-icon
													i.fas.fa-check-circle.font-size-22.text-primary
												.flex-center.text-gray-1.h-100
													i.fab.fa-paypal.fa-fw.font-size-28.mr-1
													span.font-size-22.font-weight-bold
														em PayPal
									#navPaymentTabsContent.tab-content
										input(type='hidden', name='paymentType', value='credit', required='')
										#navCreditCard.tab-pane.show.fade.active(role='tabpanel')
											.row
												.form-group.col-12.col-xl-6
													label.font-size-15.text-muted.required(for='cardOwnerName') Owner name
													input#cardOwnerName.form-control(type='text', name='cardOwnerName', placeholder='John Doe', required='')
													.invalid-feedback Owner name is required.
												.form-group.col-12.col-xl-6
													label.font-size-15.text-muted.required(for='cardNumber') Card number
													input#cardNumber.form-control(
														type='text',
														name='cardNumber',
														pattern='^\\d{4}[\\s\\-]?\\d{4}[\\s\\-]?\\d{4}[\\s\\-]?\\d{4}$',
														minlength='16',
														maxlength='19',
														placeholder='0000-0000-0000-0000',
														required=''
													)
													.invalid-feedback Card number is required.
											.row
												.form-group.col-sm.mb-sm-0
													label.font-size-15.text-muted.required(for='cardMonth') Month
													.custom-select2
														select#cardMonth.select2-input.form-control(
															name='cardMonth',
															data-minimum-results-for-search='Infinity',
															data-placeholder='MM',
															required=''
														)
															option(selected='', disabled='', hidden='')
															each _, i in Array(12)
																option(value=`${i + 1}`) #{i < 9 ? "0" : ""}#{i+1}
														.invalid-feedback Month is required.
												.form-group.col-sm.mb-sm-0
													label.font-size-15.text-muted.required(for='cardYear') Year
													.custom-select2
														select#cardYear.select2-input.form-control(
															name='cardYear',
															data-minimum-results-for-search='Infinity',
															data-placeholder='YYYY',
															required=''
														)
															option(selected='', disabled='', hidden='')
															each _, i in Array(31)
																option(value=`${new Date().getFullYear() + i}`) #{new Date().getFullYear()+i}
														.invalid-feedback Year is required.
												.col-sm
													.flex-vertical-center.text-muted.mb-2
														label.font-size-15.required.mr-1.mb-0(for='cardCVV') CVV
														i.fas.fa-question-circle.font-size-18(
															data-toggle='popover',
															data-trigger='hover',
															data-html='true',
															data-placement='top',
															data-content='<div class="flex-vertical-center"><img class="w-auto mr-2" src="/static/images/svg/cc-cvv-back.svg" width="42" height="30" alt="Credit card security image"/><span class="font-size-13 font-weight-medium text-gray-1">This is the 3-digit number printed on the signature panel on the back of your card.</span></div>'
														)
													input#cardCVV.form-control(
														type='text',
														pattern='[0-9]{3}',
														maxlength='3',
														name='cardCVV',
														placeholder='000',
														required=''
													)
													.invalid-feedback CVV is required.
										#navPayPal.tab-pane.fade(role='tabpanel')
											.p-5
												h5.font-size-24
													.flex-center.flex-column
														i.fas.fa-exclamation-triangle.fa-fw.fa-2x.mb-2
														span Paypal service comming soon...
												p.text-center.mb-0 Paypal service is still under development. Once we fine tune everything, the service will be available for use.
								.card-footer
									.form-group.custom-control.custom-checkbox
										input#acceptTAC.custom-control-input(type='checkbox', name='acceptTAC', required='')
										label.custom-control-label.font-size-15(for='acceptTAC')
											| By continuing, you agree to the
											a(href='/pages/terms-and-conditions') &nbsp;Terms and Conditions
									button.btn.btn-sm.btn-primary.w-100.w-md-auto.w-lg-100.w-xl-auto(type='submit', data-toggle='loader') Book now
				.col-lg-4.col-xl-3.mt-lg-1
					.d-none.d-lg-block.bg-dark.text-white.border.border-bottom-0.rounded-top-5.shadow-soft.px-3.py-2
						h4.text-lg-center.font-size-22.font-weight-bold.mb-0 SUMMARY
					a.d-lg-none.btn.btn-white.btn-floating(
						href='#summaryList',
						aria-controls='summaryList',
						aria-expanded='false',
						aria-label='Toggle Filters',
						data-breakpoint='lg',
						data-toggle='navdrawer',
						data-type='permanent'
					)
						i.fas.fa-list-ul.fa-fw.mr-2
						| Summary
					#summaryList.navdrawer.navdrawer-right.navdrawer-permanent-lg.position-lg-relative.border-lg.border-lg-top-0.rounded-lg-bottom-5.w-lg-100.shadow-soft
						.summary.navdrawer-content.position-lg-relative
							#flightsSummary.accordion.rounded-0
								.card-collapse
									h3.mb-0
										button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4(
											type='button',
											data-toggle='collapse',
											data-target='#flightsSummarySection',
											aria-expanded='true',
											aria-controls='flightsSummarySection'
										)
											span.section-header Flights
											span.flex-vertical-center.justify-content-end
												span.section-price &euro;#{flight.totalUntaxedPrice.toLocaleString()}
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
								#flightsSummarySection.collapse.show(aria-labelledby='Flights summary section', data-parent='#flightsSummary')
									.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
										#departureFlight
											h5.flex-center-between
												span
													i.fas.fa-plane.fa-fw.fa-rotate-315.text-muted
													span.section-subtitle.ml-2 Departure
												span.flight-id(
													data-toggle='popover',
													data-trigger='hover',
													data-html='true',
													data-placement='bottom',
													data-content=`<span class="font-size-13 font-weight-medium text-gray-1">${flight.departAirlineName} | ${flight.departAirplaneName}</span>`
												) (#{flight.departFlightID})
											ul.mt-3
												li.flex-vertical-center
													h6.font-weight-bold.font-size-16.text-lh-1.border-right.border-gray-2.border-width-2.mb-0.pr-2 #{flight.departTime}
													span.text-lh-1.pl-2 #{flight.departDate}
												li.font-size-15.text-gray-1.mt-1 #{flight.departFromCity}, #{flight.departFromCountry}
											ul.mt-3
												li.flex-vertical-center
													h6.font-weight-bold.font-size-16.text-lh-1.border-right.border-gray-2.border-width-2.mb-0.pr-2 #{flight.departArrivalTime}
													span.text-lh-1.pl-2 #{flight.departArrivalDate}
												li.font-size-15.text-gray-1.mt-1 #{flight.departToCity}, #{flight.departToCountry}
										if query.isRoundtrip
											hr
											#returnFlight
												h5.flex-center-between
													span
														i.fas.fa-plane.fa-fw.fa-rotate-225.text-muted
														span.section-subtitle.ml-2 Return
													span.flight-id(
														data-toggle='popover',
														data-trigger='hover',
														data-html='true',
														data-placement='bottom',
														data-content=`<span class="font-size-13 font-weight-medium text-gray-1">${flight.returnAirlineName} | ${flight.returnAirplaneName}</span>`
													) (#{flight.returnFlightID})
												ul.mt-3
													li.flex-vertical-center
														h6.font-weight-bold.font-size-16.text-lh-1.border-right.border-gray-2.border-width-2.mb-0.pr-2 #{flight.returnTime}
														span.text-lh-1.pl-2 #{flight.returnDate}
													li.font-size-15.text-gray-1.mt-1 #{flight.returnFromCity}, #{flight.returnFromCountry}
												ul.mt-3
													li.flex-vertical-center
														h6.font-weight-bold.font-size-16.text-lh-1.border-right.border-gray-2.border-width-2.mb-0.pr-2 #{flight.returnArrivalTime}
														span.text-lh-1.pl-2 #{flight.returnArrivalDate}
													li.font-size-15.text-gray-1.mt-1 #{flight.returnToCity}, #{flight.returnToCountry}
							#passengersSummary.accordion.rounded-0.border-top
								.card-collapse
									h3.mb-0
										button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4(
											type='button',
											data-toggle='collapse',
											data-target='#passengersSummarySection',
											aria-expanded='true',
											aria-controls='passengersSummarySection'
										)
											span.section-header Passengers
											span.flex-vertical-center.justify-content-end
												span.section-price &euro;
													span#totalPassengersPrice 0
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
								#passengersSummarySection.collapse.show(
									aria-labelledby='Passengers summary section',
									data-parent='#passengersSummary'
								)
									.card-body.pt-0.px-5.px-xl-4.pb-4
										each _, i in Array(query.passengers.adults)
											div(id=`passengerSummary-${i}`, class=i === 0 ? "mt-2" : "mt-3")
												h5.text-truncate.mb-0
													i.fas.fa-user.fa-fw.text-muted
													span.section-subtitle.ml-2(id=`passengerFullname-${i}`)
														span.first-name.mr-1
														span.last-name
												ul.items.text-gray-1.mt-2
													li.flex-center-between
														h6.item-name 1x cabin bag
														span.item-price free
							#totalSummary.accordion.rounded-0.border-top
								.card-collapse
									h3.mb-0
										button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4(
											type='button',
											data-toggle='collapse',
											data-target='#totalSummarySection',
											aria-expanded='false',
											aria-controls='totalSummarySection'
										)
											span.section-header Total
											span.flex-vertical-center.justify-content-end
												span.section-price.text-dark &euro;
													span#totalPrice(
														data-toggle='sync-text',
														data-sync-controls='totalPriceInput',
														data-sync-placeholder=`${flight.totalPrice}`,
														data-sync-type='numeric',
														data-sync-parent='newBookingForm'
													) #{flight.totalPrice.toLocaleString()}
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
								#totalSummarySection.collapse(aria-labelledby='Total summary section', data-parent='#totalSummary')
									.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
										ul.text-gray-1
											li.flex-center-between.mb-2
												h6.item-name taxes
												span.item-price &euro;#{flight.totalTaxes.toLocaleString()}
		+goUpButton

block append vendorScripts
	script(src='/static/vendors/flatpickr/flatpickr.min.js')
	script(src='/static/vendors/navdrawer/navdrawer.min.js')
