mixin showAlert(dismiss=false)
	if error || success || flash.error || flash.success
		- var isError = error || flash.error
		.alert.py-4.mb-5(class=isError ? "alert-danger" : "alert-success", class=dismiss ? "alert-dismissible" : "", role='alert')
			.flex-vertical-center
				i.fas.fa-lg.mr-3(class=isError ? "fa-exclamation-circle" : "fa-check-circle")
				span #{isError ? error || flash.error : succss || flash.success}
			if dismiss
				button.close(type='button', data-dismiss='alert', aria-label='Close')
					span(aria-hidden='true') &times;
