extends layout
include mixins/_header
include mixins/_preloader

block preloader
	+preLoaderImage#preloader

block header
	header.page-header.header-sm-abs.header-sm-bg-transparent.header-md-white-nav-links.border-bottom.border-md-bottom-0.border-white-translucent.header-md-scroll.transition-scroll(
		data-breakpoint='md'
	)
		+headerContent

block content
	main(role='main')
		.carousel-wrapper
			#heroCarousel.carousel.slide(data-ride='carousel')
				.carousel-inner
					.carousel-item.slide-1.active
						.hero.hero-mask.hero-mask-light-dark
							.hero-content
								h2.heroFadeInUp.duration4.mb-0 Plan your next trip
								p.heroFadeInUp.duration6.mb-0 Pick your next flight from a variety of destinations
					.carousel-item.slide-2
						.hero.hero-mask.hero-mask-light-dark
							.hero-content
								h2.heroFadeInUp.duration4.mb-0 Travel around the world
								p.heroFadeInUp.duration6.mb-0 Discover the hidden beauty from top to bottom
					.carousel-item.slide-3
						.hero.hero-mask.hero-mask-light-dark
							.hero-content
								h2.heroFadeInUp.duration4.mb-0 Memories count
								p.heroFadeInUp.duration6.mb-0 Travel more, create more memories
				a.carousel-control-prev(href='#heroCarousel', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#heroCarousel', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
			.search-flights-card.mt-sm-n19.mt-lg-n14
				.container
					.row.justify-content-center.mt-md-3
						.col-12.col-xl-11
							.card.mb-sm-3
								.card-body
									ul.nav.nav-pills.nav-justified.nav-sm-unjustified.mb-4
										li.nav-item
											a#navRoundtripPillTab.nav-link.active(
												data-toggle='tab',
												href='#navRoundtripSearch',
												role='tab',
												aria-controls='navRoundtripSearch',
												aria-selected='true'
											) Round Trip
										li.nav-item
											a#navOnewayPillTab.nav-link(
												data-toggle='tab',
												href='#navRoundtripSearch',
												role='tab',
												aria-controls='navRoundtripSearch',
												aria-selected='false'
											) One Way
									#navTabsContent.tab-content
										#navRoundtripSearch.tab-pane.show.fade.active(role='tabpanel')
											form#flightSearchForm.needs-validation(action='/flight/search-flights', novalidate)
												input(type='hidden', name='type', value='RT', required='')
												.form-row
													.form-group.col-12.col-lg-5.mb-3.mb-lg-0
														.form-row.justify-content-center
															.col-sm-6.custom-select2.half-left.mb-3.mb-sm-0
																span.text-muted From
																select#fromAirport.select2-input.form-control.custom-select(
																	name='fromAirport',
																	data-placeholder='City or airport',
																	data-format-result='formatAirports',
																	data-format-selection='formatAirports',
																	required=''
																)
																	option(selected='', disabled='', hidden='')
																	each airport in airports
																		option(value=`${airport.code}`) #{airport.city} (#{airport.code})
																.invalid-feedback Source is required.
															.btn-reverse-destinations-wrapper.d-none.d-sm-flex
																a.btn.btn-icon.btn-reverse-destinations(href='#!', role='button')
																	i.fas.fa-exchange-alt.fa-fw
															.col-sm-6.custom-select2.half-right
																span.text-muted To
																select#toAirport.select2-input.form-control.custom-select(
																	name='toAirport',
																	data-placeholder='City or airport',
																	data-format-result='formatAirports',
																	data-format-selection='formatAirports',
																	required=''
																)
																	option(selected='', disabled='', hidden='')
																	each airport in airports
																		option(value=`${airport.code}`) #{airport.city} (#{airport.code})
																.invalid-feedback Dedtination is required.
													.form-group.col-sm-6.col-lg-3.mb-3.mb-lg-0
														span.text-muted Depart - Return
														.custom-datepicker
															input#departReturnDatepicker.form-control.text-truncate.flatpickr-input(
																type='date',
																name='flightDates',
																data-mode='range',
																data-preselected-dates='true',
																data-min-date='today',
																data-alt-format='D, j M',
																data-date-format='Y-m-d',
																data-month-selector-type='static',
																data-year-selector-type='static',
																required=''
															)
															.invalid-feedback Flight dates are required.
													.form-group.col-sm-6.col-lg-3.mb-3.mb-lg-0
														span.text-muted Passengers &amp; class
														.dropdown
															input#passengersClassInput.form-control.d-none(
																type='text',
																name='passengersClass',
																value='{"passengers": {"adults": 1, "children": 0, "infants": 0, "total": 1}, "class":"Economy"}',
																required=''
															)
															.dropdown-input.form-control.dropdown-toggle(
																role='button',
																data-toggle='dropdown',
																data-display='static',
																aria-haspopup='true',
																aria-expanded='false'
															)
																span#passengerClassResult 1 Adult, Economy
															.invalid-feedback Passengers and class are required.
															.dropdown-menu.keep-open(aria-labelledby='dropdownMenuLink')
																.passengers-wrapper
																	h6.font-size-18 Passengers
																	ul.passengers-list
																		li.passengers-counter
																			label Adults
																			#adultCounter.counter-controls
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='minus'
																				)
																					i.fas.fa-minus.fa-fw.fa-sm
																				span.counter-num 1
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='plus'
																				)
																					i.fas.fa-plus.fa-fw.fa-sm
																		li.passengers-counter
																			label Children
																			#childrenCounter.counter-controls
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='minus'
																				)
																					i.fas.fa-minus.fa-fw.fa-sm
																				span.counter-num 0
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='plus'
																				)
																					i.fas.fa-plus.fa-fw.fa-sm
																		li.passengers-counter
																			label Infants
																			#infantCounter.counter-controls
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='minus'
																				)
																					i.fas.fa-minus.fa-fw.fa-sm
																				span.counter-num 0
																				a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																					href='#!',
																					role='button',
																					data-counter-btn-type='plus'
																				)
																					i.fas.fa-plus.fa-fw.fa-sm
																.dropdown-divider
																.cabin-class-wrapper
																	h6.font-size-18 Class
																	ul.class-list
																		li.class-list-item.selected Economy
																		li.class-list-item Business
																		li.class-list-item First
													.form-group.col-lg-1.mt-lg-4.mb-3.mb-sm-0
														button#flightSearch.btn.btn-primary.btn-block(type='submit')
															i.fas.fa-search.fa-fw.mr-1.mr-lg-0
															span.d-inline-block.d-lg-none.font-weight-bold SEARCH FLIGHTS
		.why-choose-block.border-top.border-sm-top-0
			.container.text-center.py-5
				h2.section-title.mb-5 Why Choose
				.row.mb-2
					.col-md-4.mb-4.mb-md-0
						i.fas.fa-hand-holding-usd.fa-fw.text-primary.font-size-65.mb-3
						h5.font-size-17.text-dark.font-weight-bold.mb-2 Best Flight Deals
						p.px-4.px-sm-2 Save more on your next summer vacation, holiday getaway or dream trip to a bucket list destination.
					.col-md-4.mb-4.mb-md-0
						i.fas.fa-award.fa-fw.text-primary.font-size-65.mb-3
						h5.font-size-17.text-dark.font-weight-bold.mb-2 Award-Winning Service
						p.px-4.px-sm-2 Travel worry-free knowing that we&apos;re here if you need us, 24 hours a day.
					.col-md-4
						i.fas.fa-map-marked-alt.fa-fw.text-primary.font-size-65.mb-3
						h5.font-size-17.text-dark.font-weight-bold.mb-2 Worldwide Coverage
						p.px-4.px-sm-2 Travel to more than 5,000 destinations all over the world.
		.popular-destinations-block.border-top
			.container.py-5
				.row.justify-content-center
					.col-12
						.text-center.my-3
							h2.section-title.mb-0 Popular Destinations
						.row
							each destination in destinations
								.col-12.col-lg-4
									.item-destination.shadow-sm
										.bg-img-mask
										.bg-img(style=`background-image: url("/static/images/destinations/${destination.name.toLowerCase()}.jpg");`)
										.content.text-white
											.item-text
												h4.mb-0 #{destination.name}
											.badge.badge-light.item-price
												span
													| from&nbsp;
													span.price &euro;#{destination.price}
