include mixins/_header

doctype html
html.smooth-scroll
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/static/vendors/font-awesome/css/all.min.css')
		link(rel='stylesheet', href='/static/css/rubik-font-family.css')
		link(rel='stylesheet', href='/static/css/flightfinder-logo.css')
		link(rel='stylesheet', href='/static/vendors/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/vendors/bootstrap/css/bootstrap-reboot.min.css')
		link(rel='stylesheet', href='/static/vendors/flatpickr/flatpickr.min.css')
		link(rel='stylesheet', href='/static/vendors/select2/css/select2.min.css')
		link(rel='stylesheet', href='/static/vendors/select2/css/select2-bootstrap.min.css')
		link(rel='stylesheet', href='/static/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css')
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		block title
			title Flight Finder
	body#body
		block preloader
		block header
			header.page-header.header-dark-nav-links.border-bottom.header-md-scroll.transition-scroll(data-breakpoint='md')
				+headerContent
		block content
		block footer
			footer.page-footer.border-top
				.container.footer-content
					.row.align-items-center.justify-content-center
						.col-md-6
							h5.section-title.section-title-left.section-title-gutter-sm.font-size-18.mb-3 Newsletter
							p.mb-3.mb-md-0 Sign up for our mailing list to get latest updates and offers.
						.col-md-6.col-lg-5.offset-lg-1
							form#subscribeNewsletterForm.needs-validation(method='POST', action='/newsletter/subscribe', novalidate='')
								.input-group
									input.form-control.footer-input.email-input(
										type='email',
										name='email',
										placeholder='Email address',
										required=''
									)
									.input-group-append
										button.btn.btn-primary.rounded-right(type='submit', data-toggle='loader') Submit
									.invalid-feedback.text-left Email address is required.
					hr.footer-divider
					.row.justify-content-between
						.col-lg-5.col-xl-6.mb-5.mb-lg-0
							h5.section-title.section-title-left.section-title-gutter-sm.font-size-18.mb-3 Flight Finder
							p.mb-0.mb-md-3 Your next flight is around the corner, book it now easily through Flight Finder
							.d-none.d-lg-block.footer-cc.text-left
								i.fab.fa-cc-visa.fa-fw.mr-1
								i.fab.fa-cc-amex.fa-fw.mr-1
								i.fab.fa-cc-mastercard.fa-fw.mr-1
								i.fab.fa-cc-paypal.fa-fw
						.col-md-6.col-lg-auto.mb-5.mb-md-0
							h5.section-title.section-title-left.section-title-gutter-sm.font-size-18.mb-3 Useful Links
							.top-links.list-group.list-group-flush.list-group-borderless
								a.list-group-item.list-group-item-action(href='/pages/about-us') About us
								a.list-group-item.list-group-item-action(href='/user/sign-in') Sign in
								a.list-group-item.list-group-item-action(href='/user/sign-up') Sign up
								a.list-group-item.list-group-item-action(href='/pages/contact-us') Contacts
						.col-md-6.col-lg-auto
							h5.section-title.section-title-left.section-title-gutter-sm.font-size-18.mb-3 Contact us
							.list-group.list-group-flush.list-group-borderless
								a.contact-address.list-group-item.list-group-item-action(
									href='https://goo.gl/maps/zJwAH5X5Nd8eqesh8',
									target='_blank'
								)
									i.fas.fa-location-arrow.fa-fw.mr-2
									| University Campus
									p 26504, Rio, Achaia, Greece
								a.list-group-item.list-group-item-action(href='mailto:info@upflightfinder.live')
									i.fas.fa-envelope.fa-fw.mr-2
									| info@upflightfinder.live
								a.list-group-item.list-group-item-action(href='tel:+300123456789')
									i.fas.fa-phone.fa-fw.mr-2
									| + 30 012 3456 789
					hr.footer-divider
					.flex-center-between.flex-column.flex-sm-row
						.d-lg-none.footer-cc.text-center.font-size-30.order-sm-2.mb-3.mb-sm-0
							i.fab.fa-cc-visa.fa-fw.mr-1
							i.fab.fa-cc-amex.fa-fw.mr-1
							i.fab.fa-cc-mastercard.fa-fw.mr-1
							i.fab.fa-cc-paypal.fa-fw
						p.text-muted.w-auto.w-sm-25.w-md-auto.order-2.order-sm-1.mb-0.mt-2.mt-sm-0 &copy; 2020 FlightFinder
						ul.list-inline.text-right.w-auto.w-sm-35.w-md-auto.order-1.order-sm-3.order-lg-2
							li.list-inline-item.mr-2.mr-sm-0.mr-md-3
								a(href='/pages/terms-and-conditions') Terms and Conditions
							li.list-inline-item
								a(href='/pages/privacy-policy') Privacy Policy

		block scripts
			script(src='/static/vendors/jquery/jquery.min.js')
			script(src='/static/vendors/popper.js/popper.min.js')
			script(src='/static/vendors/zxcvbn/zxcvbn.js')
			script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
			script(src='/static/vendors/flatpickr/flatpickr.min.js')
			script(src='/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js')
			script(src='/static/vendors/select2/js/select2.full.min.js')
			script(src='/static/vendors/navdrawer/navdrawer.min.js')
			script(src='/static/js/scrollspy.js')
			script(src='/static/js/password-strength.js')
			script(src='/static/js/quantity-counter.js')
			script(src='/static/js/main.js')
