extends layout

block title
	title Manage booking - Flight Finder

block content
	main.bg-gray(role='main')
		.container.py-5.py-lg-10
			.row.align-items-center.justify-content-center
				.col-lg-10.col-xl-9
					h1.section-title.section-title-left.section-title-gutter-sm.font-size-md-35.mb-4 Manage booking
					p.mb-5.text-gray-1 Enter your details below to view, edit or cancel the booking
					if showAlert
						.alert.alert-danger(role='alert')
					.card.p-4
						.card-header.pb-4.pt-0.px-0
							.row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters.text-lg-center
								.col-sm-6.col-md
									p.text-lh-inherit.mb-md-0
										i.far.fa-check-circle.fa-fw.fa-lg.text-primary.mr-2
										| Booking details
								.col-sm-6.col-md
									p.text-lh-inherit.mb-md-0
										i.far.fa-check-circle.fa-fw.fa-lg.text-primary.mr-2
										| Edit booking
								.col-sm-6.col-md
									p.text-lh-inherit.mb-sm-0
										i.far.fa-check-circle.fa-fw.fa-lg.text-primary.mr-2
										| Contact details
								.col-sm-6.col-md
									p.text-lh-inherit.mb-0
										i.far.fa-check-circle.fa-fw.fa-lg.text-primary.mr-2
										| Payment history
						.card-body.py-5.px-0
							form#manageBookingForm.needs-validation(method='POST', action='/booking/manage-booking', novalidate='')
								.form-row.justify-content-center
									.form-group.col-md.mb-md-0
										label.text-muted.required(for='pnr') Booking reference (PNR)
										.prepend-icon
											i.fas.fa-book.fa-fw
											input#pnr.form-control.uppercase-input(
												type='text',
												name='pnr',
												pattern='[A-Z0-9]{6}',
												maxlength='6',
												placeholder='WF43B9',
												required=''
											)
											.invalid-feedback Booking reference is required.
									.form-group.col-md.mb-md-0
										label.text-muted.required(for='lastName') Last name
										.prepend-icon
											i.fas.fa-user.fa-fw
											input#lastName.form-control(type='text', name='lastName', placeholder='Doe', required='')
											.invalid-feedback Last name is required.
									.form-group.col-md-auto.mt-md-5.mb-0
										button.btn.btn-block.btn-primary(type='submit') 
											i.fas.fa-search.fa-fw.mr-2
											| Search
						.card-footer.pt-4.pb-0.px-0
							p.text-gray-1.mb-0
								i.fas.fa-envelope-open.fa-fw.fa-lg.mr-2
								| Missing booking confirmation mail?
								a(href='#!') &nbsp;Resend
