extends layout
include mixins/_alert
include mixins/_preloader
include mixins/_password-strength

block title
	title New password - Flight Finder

block preloader
	+preLoaderImage#preloader

block content
	main.bg-gray(role='main')
		.container.py-5.py-lg-12
			.row.align-items-center.justify-content-center
				.col-md-10.col-lg-7.col-xl-6
					h3.section-title.section-title-left.section-title-gutter-sm.mb-5 Reset password
					p.text-gray-1.mb-5 Please enter your new password below:
					+showAlert
					.card.shadow-soft
						.card-body.p-4
							form#resetPasswordForm.needs-validation(method='POST', action='/user/account/reset-password', novalidate='')
								input#customerID(type='hidden', name='customerID', value=`${customerID}`)
								.form-group.password-strength.mb-4
									label.text-muted.required(for='password') New password
									.prepend-icon
										i.fas.fa-lock.fa-fw
										input#password.form-control.mb-3(
											type='password',
											name='password',
											pattern='^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!^+%/()=?_:`@~|\\}\\]\\[{$.,*-])[A-Za-z\\d!^+%/()=?_:`@~|\\}\\]\\[{$.,*-]{8,30}$',
											placeholder='Password',
											data-toggle='password-strength',
											required=''
										)
										+passwordStrength
								.d-flex.justify-content-end
									button.btn.btn-primary.w-100.w-md-auto(type='submit') Reset password
