extends layout

block title
	title Search flights - Flight Finder

block content
	main.bg-gray(role='main')
		- var isRoundtrip = data.query.type === "RT"
		.container.py-5
			#changeFlightSearch.card.search-flights-card.mb-3
				.card-collapse.bg-dark
					h5.mb-0
						button.btn.btn-link.btn-block.card-btn.text-white.p-3(
							type='button',
							data-toggle='collapse',
							data-target='#modifyFlightSearch',
							aria-expanded='false',
							aria-controls='modifyFlightSearch'
						)
							.search-route
								.route.font-size-22.font-weight-medium
									span #{data.airports.find(obj => obj.code === data.query.from).city}
									span.fas.fa-plane.fa-fw.mx-2
									span #{data.airports.find(obj => obj.code === data.query.to).city}
								ul.flex-vertical-center.flex-wrap.font-size-16.font-weight-normal.text-left.text-muted.mt-1
									li.border-right.border-gray-3.pr-2 #{new Date(isRoundtrip? data.query.dates.from: data.query.dates).toLocaleDateString('en-gb', {weekday: 'short', month: 'short', day: 'numeric'})}
									li.pl-2 #{data.query.passengers.total} #{data.query.passengers.total > 1 ? 'Passengers' : 'Passenger'}
							span.card-btn-caret
								i.fas.fa-chevron-down.text-white
				#modifyFlightSearch.collapse(data-parent='#changeFlightSearch')
					.card-body
						ul.nav.nav-pills.nav-justified.nav-sm-unjustified.mb-4
							li.nav-item
								a#navRoundtripPillTab.nav-link(
									class=isRoundtrip ? "active" : "",
									data-toggle='tab',
									href='#navRoundtripSearch',
									role='tab',
									aria-controls='navRoundtripSearch',
									aria-selected=`${isRoundtrip ? true : false}`
								) Round Trip
							li.nav-item
								a#navOnewayPillTab.nav-link(
									class=!isRoundtrip ? "active" : "",
									data-toggle='tab',
									href='#navRoundtripSearch',
									role='tab',
									aria-controls='navRoundtripSearch',
									aria-selected=`${!isRoundtrip ? true : false}`
								) One Way
						#navTabsContent.tab-content
							#navRoundtripSearch.tab-pane.show.fade.active(role='tabpanel')
								form#flightSearchForm.needs-validation(action='/flight/search-flights', novalidate)
									input(type='hidden', name='type', value=`${data.query.type}`, required='')
									.form-row
										.form-group.col-12.col-lg-5.mb-3.mb-lg-0
											.form-row.justify-content-center
												.col-sm-6.custom-select2.half-left.mb-3.mb-sm-0
													span.text-muted From
													select#fromAirport.select2-input.form-control.custom-select(
														name='fromAirport',
														data-placeholder='City or airport',
														data-format-result='formatAirports',
														data-format-selection='formatAirports',
														required=''
													)
														option(selected='', disabled='', hidden='')
														each airport in data.airports
															if airport.code === data.query.from
																option(value=`${airport.code}`, selected) #{airport.city} (#{airport.code})
															else if airport.code === data.query.to
																option(value=`${airport.code}`, disabled) #{airport.city} (#{airport.code})
															else
																option(value=`${airport.code}`) #{airport.city} (#{airport.code})
													.invalid-feedback Source is required.
												.btn-reverse-destinations-wrapper.d-none.d-sm-flex
													a.btn.btn-icon.btn-reverse-destinations(href='#!', role='button')
														i.fas.fa-exchange-alt.fa-fw
												.col-sm-6.custom-select2.half-right
													span.text-muted To
													select#toAirport.select2-input.form-control.custom-select(
														name='toAirport',
														data-placeholder='City or airport',
														data-format-result='formatAirports',
														data-format-selection='formatAirports',
														required=''
													)
														option(selected='', disabled='', hidden='')
														each airport in data.airports
															if airport.code === data.query.to
																option(value=`${airport.code}`, selected) #{airport.city} (#{airport.code})
															else if airport.code === data.query.from
																option(value=`${airport.code}`, disabled) #{airport.city} (#{airport.code})
															else
																option(value=`${airport.code}`) #{airport.city} (#{airport.code})
													.invalid-feedback Dedtination is required.
										.form-group.col-sm-6.col-lg-3.mb-3.mb-lg-0
											span.text-muted Depart - Return
											.custom-datepicker
												input#departReturnDatepicker.form-control.text-truncate.flatpickr-input(
													type='date',
													name='flightDates',
													data-mode=`${isRoundtrip ? "range" : "single"}`,
													data-min-date='today',
													data-alt-format='D, j M',
													data-date-format='Y-m-d',
													data-default-selected-dates=`${data.query.dates instanceof Object ? JSON.stringify(Object.values(data.query.dates)) : data.query.dates}`,
													data-month-selector-type='static',
													data-year-selector-type='static',
													required=''
												)
												.invalid-feedback Flight dates are required.
										.form-group.col-sm-6.col-lg-3.mb-3.mb-lg-0
											span.text-muted= "Passengers & class"
											.dropdown
												input#passengersClassInput.form-control.d-none(
													type='text',
													name='passengersClass',
													value=`{"passengers": ${JSON.stringify(data.query.passengers)}, "class": ${JSON.stringify(data.query.class)}}`,
													required=''
												)
												.dropdown-input.form-control.dropdown-toggle(
													role='button',
													data-toggle='dropdown',
													data-display='static',
													aria-haspopup='true',
													aria-expanded='false'
												)
													- var passengers = ""
													if data.query.passengers.adults > 0 && (data.query.passengers.children > 0 || data.query.passengers.infants > 0)
														- passengers = "Passengers"
													else if data.query.passengers.adults > 1
														- passengers = "Adults"
													else
														- passengers = "Adult"
													span#passengerClassResult #{data.query.passengers.total} #{passengers}, #{data.query.class}
												.invalid-feedback Passengers and class are required.
												.dropdown-menu.keep-open(aria-labelledby='dropdownMenuLink')
													.passengers-wrapper
														h6.font-size-18 Passengers
														ul.passengers-list
															li.passengers-counter
																label Adults
																#adultCounter.counter-controls
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='minus'
																	)
																		i.fas.fa-minus.fa-fw.fa-sm
																	span.counter-num #{data.query.passengers.adults}
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='plus'
																	)
																		i.fas.fa-plus.fa-fw.fa-sm
															li.passengers-counter
																label Children
																#childrenCounter.counter-controls
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='minus'
																	)
																		i.fas.fa-minus.fa-fw.fa-sm
																	span.counter-num #{data.query.passengers.children}
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='plus'
																	)
																		i.fas.fa-plus.fa-fw.fa-sm
															li.passengers-counter
																label Infants
																#infantCounter.counter-controls
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='minus'
																	)
																		i.fas.fa-minus.fa-fw.fa-sm
																	span.counter-num #{data.query.passengers.infants}
																	a.btn.btn-icon.btn-sm.btn-outline-secondary.rounded-circle(
																		href='#!',
																		role='button',
																		data-counter-btn-type='plus'
																	)
																		i.fas.fa-plus.fa-fw.fa-sm
													.dropdown-divider
													.cabin-class-wrapper
														h6.font-size-18 Class
														ul.class-list
															each klass in ['Economy', 'Business', 'First']
																li.class-list-item(class=`${klass === data.query.class ? "selected" : ""}`) #{klass}
										.form-group.col-lg-1.mt-lg-4.mb-3.mb-sm-0
											button#flightSearch.btn.btn-primary.btn-block(type='submit')
												i.fas.fa-search.fa-fw.mr-1.mr-lg-0
												span.d-inline-block.d-lg-none.font-weight-bold SEARCH FLIGHTS
			#preloaderFlights.page-preloader.position-relative.bg-gray.py-10.py-sm-15
				.flex-center.h-100
					.spinner-grow.text-primary(style='transform: scale(1.5);', role='status')
						span.sr-only Searching for flights...
					h5.font-size-22.font-weight-medium.mb-0.ml-3(aria-hidden='true') Searching for flights...
			if !data.flights.results
				.p-5(style='display: none;')
					h5.font-size-24
						.flex-center.flex-column
							i.far.fa-sad-tear.fa-fw.font-size-55.mb-3
							span Sorry, we couldn&apos;t find any flights for these dates.
			else
				.row.justify-content-center(style='display: none;')
					.col-lg-4.col-xl-3.mt-lg-1
						.d-none.d-lg-block.bg-dark.text-white.border.border-bottom-0.rounded-top-5.shadow-soft.px-3.py-2
							h4.text-lg-center.font-size-22.font-weight-bold.mb-0 FILTERS
						a.d-lg-none.btn.btn-white.btn-floating(
							href='#filterList',
							aria-controls='filterList',
							aria-expanded='false',
							aria-label='Toggle Filters',
							data-breakpoint='lg',
							data-toggle='navdrawer',
							data-type='permanent'
						)
							i.fas.fa-sliders-h.fa-fw.fa-rotate-90.mr-2
							| Filters
						#filterList.navdrawer.navdrawer-permanent-lg.position-lg-relative.border-lg.border-lg-top-0.rounded-lg-bottom-5.w-lg-100.shadow-soft
							.navdrawer-content.position-lg-relative
								#stopsFilter.accordion.rounded-0
									.card-collapse
										h3.mb-0
											button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4(
												type='button',
												data-toggle='collapse',
												data-target='#stopsFilterSection',
												aria-expanded='true',
												aria-controls='stopsFilterSection'
											)
												span.section-header Stops
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
									#stopsFilterSection.collapse.show(aria-labelledby='Stops filter section', data-parent='#stopsFilter')
										.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
											ul.text-gray-1
												li.mb-3
													.custom-control.custom-checkbox
														input#nonStop.custom-control-input(type='checkbox', checked='')
														label.custom-control-label(for='nonStop') Non Stop
												li.mb-3
													.custom-control.custom-checkbox
														input#oneStop.custom-control-input(type='checkbox', disabled)
														label.custom-control-label(for='oneStop') 1 Stop
												li.mb-3
													.custom-control.custom-checkbox
														input#twoStops.custom-control-input(type='checkbox', disabled)
														label.custom-control-label(for='twoStops') 2 Stop
												li.mb-1
													.custom-control.custom-checkbox
														input#threeStops.custom-control-input(type='checkbox', disabled)
														label.custom-control-label(for='threeStops') 3 Stop
								#priceFilter.accordion.rounded-0.border-top
									.card-collapse
										h3.mb-0
											button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4.collapsed(
												type='button',
												data-toggle='collapse',
												data-target='#priceFilterSection',
												aria-expanded='true',
												aria-controls='priceFilterSection'
											)
												span.section-header Price Range
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
									#priceFilterSection.collapse.show(aria-labelledby='Price filter section', data-parent='#priceFilter')
										.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
											input#priceRange.ion-range-slider-input(
												type='text',
												data-extra-classes='irs-with-indicator mx-2',
												data-type='double',
												data-grid='false',
												data-hide-min-max='true',
												data-hide-from-to='false',
												data-min=`${data.flights.results[0].totalPrice}`,
												data-max=`${data.flights.results[data.flights.results.length - 1].totalPrice}`,
												data-from=`${data.flights.results[0].totalPrice + 30}`,
												data-to=`${data.flights.results[data.flights.results.length - 1].totalPrice - 30}`,
												data-prefix='€'
											)
								#timeFilter.accordion.rounded-0.border-top
									.card-collapse
										h3.mb-0
											button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4.collapsed(
												type='button',
												data-toggle='collapse',
												data-target='#timeFilterSection',
												aria-expanded='true',
												aria-controls='timeFilterSection'
											)
												span.section-header Time Range
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
									#timeFilterSection.collapse.show(aria-labelledby='Time filter section', data-parent='#timeFilter')
										.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
											div
												label.section-subtitle.font-size-15.mb-2(for='departureTimeRange') Departure Time
												input#departureTimeRange.ion-range-slider-input(
													type='text',
													data-extra-classes='irs-with-indicator mx-2',
													data-type='double',
													data-grid='false',
													data-hide-min-max='true',
													data-hide-from-to='false'
												)
											if isRoundtrip
												hr
												div
													label.section-subtitle.font-size-15.mb-2(for='returnTimeRange') Return Time
													input#returnTimeRange.ion-range-slider-input(
														type='text',
														data-extra-classes='irs-with-indicator mx-2',
														data-type='double',
														data-grid='false',
														data-hide-min-max='true',
														data-hide-from-to='false'
													)
								#airlinesFilter.accordion.rounded-0.border-top
									.card-collapse
										h3.mb-0
											button.btn.btn-link.btn-block.card-btn.btn-section.px-xl-4.collapsed(
												type='button',
												data-toggle='collapse',
												data-target='#airlinesFilterSection',
												aria-expanded='true',
												aria-controls='airlinesFilterSection'
											)
												span.section-header Airlines
												span.card-btn-caret
													i.fas.fa-chevron-down.text-dark
									#airlinesFilterSection.collapse.show(aria-labelledby='Airlines filter section', data-parent='#airlinesFilter')
										.card-body.pt-0.mt-2.px-5.px-xl-4.pb-4
											ul.text-gray-1
												- var lastIndex = 0
												each airline, index in data.airlines
													if index > 4
														- lastIndex = index
														- break
													- var airlineID = `${airline.name.split(" ")[0].toLowerCase()}Air`
													li.flex-center-between.mb-3
														.custom-control.custom-checkbox
															input.custom-control-input(id=airlineID, type='checkbox', checked='')
															label.custom-control-label(for=airlineID) #{airline.name}
														span.font-size-15 #{airline.total}

												if data.airlines.length > 5
													#moreAirlines.collapse
														ul.text-gray-1
															while lastIndex < data.airlines.length
																- var airlineID = `${data.airlines[lastIndex].name.split(" ")[0].toLowerCase()}Air`
																li.flex-center-between.mb-3
																	.custom-control.custom-checkbox
																		input.custom-control-input(id=airlineID, type='checkbox', checked='')
																		label.custom-control-label(for=airlineID) #{data.airlines[lastIndex].name}
																	span.font-size-15 #{data.airlines[lastIndex].total}
																- lastIndex += 1
													a.btn.btn-link.link-collapse(
														data-toggle='collapse',
														href='#moreAirlines',
														role='button',
														aria-expanded='false',
														aria-controls='moreAirlines'
													)
														span.link-collapse-default.font-size-14 Show all
														span.link-collapse-active.font-size-14 Show less
					.col-lg-8.col-xl-9.mt-lg-1
						.row.align-items-center.justify-content-between.mb-3
							.col
								p.mb-0 #{data.flights.total} Results
							.col-auto.flex-vertical-center
								p.d-none.d-sm-block.mb-0.mr-2 Sort by
								.custom-select2.prepend-icon.prepend-icon-sm
									i.fas.fa-sort.fa-fw
									select#sortBy.select2-input.form-control-sm.custom-select.rounded(
										name='sortBy',
										data-minimum-results-for-search='Infinity'
									)
										option(value='lowest', selected='') Lowest Price
										option(value='perAdult') Price per Adult
										option(value='fastest') Fastest
						.flights-container
							each flight, index in data.flights.results
								div(id=`flight-${index}`)
									form(id=`flightSelectForm-${index}`, action='/booking/new-booking')
										.flight-card.card.mb-5(class=isRoundtrip ? "flight-roundtrip" : "flight-oneway")
											input(type='hidden', name='isRoundtrip', value=`${isRoundtrip}`)
											input(type='hidden', name='fromCity', value=`${flight.departFromCity}`)
											input(type='hidden', name='toCity', value=`${flight.departToCity}`)
											input(type='hidden', name='departFlightID', value=`${flight.departFlightID}`)
											input(type='hidden', name='departDate', value=`${isRoundtrip ? data.query.dates.from : data.query.dates}`)

											if isRoundtrip
												input(type='hidden', name='returnFlightID', value=`${flight.returnFlightID}`)
												input(type='hidden', name='returnDate', value=`${data.query.dates.to}`)

											input(type='hidden', name='class', value=`${data.query.class}`)
											input(type='hidden', name='quantity', value=`${data.query.passengers.total}`)

											- var totalPassengers = JSON.stringify({ adults: data.query.passengers.adults, children: data.query.passengers.children, infants: data.query.passengers.infants })
											input(type='hidden', name='passengers', value=totalPassengers)

											.card-body
												.row.align-items-center.text-center
													.col-12.col-md.mb-3.mb-md-0
														.price-divider.border-md-right-dashed.border-width-2
															.flight-wrapper
																.row.align-items-center.text-center
																	.col-3.col-sm-auto.col-md-3.col-lg-auto.col-xl-3
																		img.img-fluid(
																			src=`/static/images/airlines/${flight.departAirlineCode}.png`,
																			alt=`${flight.departAirlineName}`
																		)
																	.col-auto.pl-0.pl-sm-3
																		.flex-center.flex-column
																			i.fas.fa-plane-departure.fa-fw.font-size-20.text-lh-inherit.text-primary
																			span.font-weight-bold.font-size-19 #{flight.departTime}
																			span.font-size-14.text-gray-1 #{flight.departFromAirport}
																	.col.px-0.px-sm-3
																		.d-flex.flex-column.mt-2
																			span.font-size-14.font-weight-bold.mb-0 #{flight.departDuration.startsWith('0')? flight.departDuration.slice(1): flight.departDuration}
																			.border-top.border-primary.border-width-2.my-1
																			span.font-size-14.text-gray-1 Non Stop
																	.col-auto
																		.flex-center.flex-column
																			i.fas.fa-plane-arrival.fa-fw.font-size-20.text-lh-inherit.text-primary
																			span.font-weight-bold.font-size-19 #{flight.departArrivalTime}
																			span.font-size-14.text-gray-1 #{flight.departToAirport}
																if isRoundtrip
																	hr
																	.row.align-items-center.text-center
																		.col-3.col-sm-auto.col-md-3.col-lg-auto.col-xl-3
																			img.img-fluid(
																				src=`/static/images/airlines/${flight.returnAirlineCode}.png`,
																				alt=`${flight.returnAirlineName}`
																			)
																		.col-auto.pl-0.pl-sm-3
																			.flex-center.flex-column
																				i.fas.fa-plane-departure.fa-fw.font-size-20.text-lh-inherit.text-primary
																				span.font-weight-bold.font-size-19 #{flight.returnTime}
																				span.font-size-14.text-gray-1 #{flight.returnFromAirport}
																		.col.px-0.px-sm-3
																			.d-flex.flex-column.mt-2
																				span.font-size-14.font-weight-bold.mb-0 #{flight.returnDuration.startsWith('0')? flight.returnDuration.slice(1): flight.returnDuration}
																				.border-top.border-primary.border-width-2.my-1
																				span.font-size-14.text-gray-1 Non Stop
																		.col-auto
																			.flex-center.flex-column
																				i.fas.fa-plane-arrival.fa-fw.font-size-20.text-lh-inherit.text-primary
																				span.font-weight-bold.font-size-19 #{flight.returnArrivalTime}
																				span.font-size-14.text-gray-1 #{flight.returnToAirport}
													.col-12.col-md-auto.mb-n4.mb-md-0
														.d-flex.d-md-block.mx-n4.mx-md-0
															.mb-md-2.order-2.w-100.w-md-auto
																.mb-2.text-lh-1dot4.d-none.d-md-block
																	span.font-weight-bold.font-size-22 &euro;#{flight.totalPrice}
																button.btn.btn-book-now.btn-block.text-right.text-md-center.py-2.pr-4.px-md-3(type='Submit')
																	.d-flex.flex-column
																		span.font-size-14.font-size-md-16 Book now
																		span.font-weight-medium.font-size-22.d-md-none &euro;#{flight.totalPrice}
															- var modalID = `flightDetailsModal${isRoundtrip ? "Roundtrip" : "Oneway"}-${index}`
															a.btn-link.btn-flight-details.order-1.w-75.w-sm-35.w-md-auto.py-2.pr-3.pl-4.p-md-0(
																href=`#${modalID}`,
																data-toggle='modal',
																data-modal-target=`#${modalID}`
															) Flight Details
															.modal.modal-flight-details.fade(
																id=`${modalID}`,
																tabindex='-1',
																role='dialog',
																aria-labelledby=`${modalID}`,
																aria-hidden='true'
															)
																.modal-dialog.modal-dialog-centered.modal-lg(role='document')
																	.modal-content
																		.modal-header.flex-center-between
																			h5.modal-title Flight Details
																			button.btn-modal-close(type='button', data-dismiss='modal', aria-label='Close')
																				span(aria-hidden='true') &#10005;
																		.modal-body.px-3.px-sm-4.pt-4.pb-2
																			h5.route-title
																				.route
																					span #{flight.departFromCity}
																					span.fas.fa-plane.fa-fw.text-muted.mx-2
																					span #{flight.departToCity}
																				ul.d-md-none.flex-vertical-center.font-size-14.font-weight-normal.text-left.text-muted.mt-2.ml-2
																					li.border-right.pl-1.pr-2 #{flight.departFlightID}
																					li.border-right.px-2 #{flight.departAirlineName}
																					li.pl-2 #{flight.departAirplaneName}
																			.row.align-items-center.text-center
																				.d-none.d-md-block.col-auto.col-lg
																					.flex-vertical-center
																						img.img-fluid.mr-3(src=`/static/images/airlines/${flight.departAirlineCode}.png`)
																						ul.d-flex.flex-column.font-size-14.text-left
																							li #{flight.departFlightID}
																							li #{flight.departAirlineName}
																							li #{flight.departAirplaneName}
																				.col.col-sm-auto
																					.d-flex.flex-column.text-center.text-md-right
																						span.font-weight-bold.font-size-19.mb-0 #{flight.departTime}
																						span.font-size-14 #{flight.departDate}
																						span.font-size-13.text-gray-1 #{flight.departFromCity}, #{flight.departFromCountry}
																				.col.px-1.px-sm-3
																					.d-flex.flex-column
																						span.font-size-14.font-weight-bold.mb-0 #{flight.departClass}
																						.border-top.border-primary.border-width-2.my-1
																						span.font-size-14.text-gray-1 #{flight.departDuration.startsWith('0')? flight.departDuration.slice(1): flight.departDuration}
																				.col.col-sm-auto
																					.d-flex.flex-column.text-center.text-md-left
																						span.font-weight-bold.font-size-19.mb-0 #{flight.departArrivalTime}
																						span.font-size-14 #{flight.departArrivalDate}
																						span.font-size-13.text-gray-1 #{flight.departToCity}, #{flight.departToCountry}
																			hr.mb-2.mx-n3.mx-sm-n4
																			ul.flex-center-between
																				li.border-right.w-100.px-1.px-sm-4
																					i.fas.fa-wifi.fa-fw.text-primary.mr-2
																					span.font-size-15 Wifi
																				li.border-right.w-100.px-1.px-sm-4
																					i.fas.fa-utensils.fa-fw.text-primary.mr-2
																					span.font-size-15 Meal
																				li.w-100.px-1.px-sm-4
																					i.fas.fa-shopping-bag.fa-fw.text-primary.mr-2
																					span.font-size-15 Shopping
																			if isRoundtrip
																				hr.mx-n3.mx-sm-n4.mt-2.mb-4
																				h5.route-title
																					.route
																						span #{flight.returnFromCity}
																						span.fas.fa-plane.fa-fw.text-muted.mx-2
																						span #{flight.returnToCity}
																					ul.d-md-none.flex-vertical-center.font-size-14.font-weight-normal.text-left.text-muted.mt-2.ml-2
																						li.border-right.pl-1.pr-2 #{flight.returnFlightID}
																						li.border-right.px-2 #{flight.returnAirlineName}
																						li.pl-2 #{flight.returnAirplaneName}
																				.row.align-items-center.text-center
																					.d-none.d-md-block.col-auto.col-lg
																						.flex-vertical-center
																							img.img-fluid.mr-3(src=`/static/images/airlines/${flight.returnAirlineCode}.png`)
																							ul.d-flex.flex-column.font-size-14.text-left
																								li #{flight.returnFlightID}
																								li #{flight.returnAirlineName}
																								li #{flight.returnAirplaneName}
																					.col.col-sm-auto
																						.d-flex.flex-column.text-center.text-md-right
																							span.font-weight-bold.font-size-19.mb-0 #{flight.returnTime}
																							span.font-size-14 #{flight.returnDate}
																							span.font-size-13.text-gray-1 #{flight.returnFromCity}, #{flight.returnFromCountry}
																					.col.px-1.px-sm-3
																						.d-flex.flex-column
																							span.font-size-14.font-weight-bold.mb-0 #{flight.returnClass}
																							.border-top.border-primary.border-width-2.my-1
																							span.font-size-14.text-gray-1 #{flight.returnDuration.startsWith('0')? flight.returnDuration.slice(1): flight.returnDuration}
																					.col.col-sm-auto
																						.d-flex.flex-column.text-center.text-md-left
																							span.font-weight-bold.font-size-19.mb-0 #{flight.departArrivalTime}
																							span.font-size-14 #{flight.returnArrivalDate}
																							span.font-size-13.text-gray-1 #{flight.returnToCity}, #{flight.returnToCountry}
																				hr.mb-2.mx-n3.mx-sm-n4
																				ul.flex-center-between
																					li.border-right.w-100.px-1.px-sm-4
																						i.fas.fa-wifi.fa-fw.text-primary.mr-2
																						span.font-size-15 Wifi
																					li.border-right.w-100.px-1.px-sm-4
																						i.fas.fa-utensils.fa-fw.text-primary.mr-2
																						span.font-size-15 Meal
																					li.w-100.px-1.px-sm-4
																						i.fas.fa-shopping-bag.fa-fw.text-primary.mr-2
																						span.font-size-15 Shopping
																		.modal-footer.flex-center-between.justify-content-md-end
																			span.font-weight-medium.font-size-22.mr-sm-2 &euro;#{flight.totalPrice}
																			button.btn.btn-primary.font-weight-medium.font-size-16.py-2.px-4(type='Submit') Select
block append scripts
	if data.flights.results
		- var minDepartTime = (maxDepartTime = new Date(`1970-01-01 ${data.flights.results[0].departTime}`))

		if isRoundtrip
			- var minReturnTime = (maxReturnTime = new Date(`1970-01-01 ${data.flights.results[0].returnTime}`))

		each flight in data.flights.results
			- var time = new Date(`1970-01-01 ${flight.departTime}`)
			- minDepartTime = time < minDepartTime ? time : minDepartTime
			- maxDepartTime = time > maxDepartTime ? time : maxDepartTime

			if isRoundtrip
				- time = new Date(`1970-01-01 ${flight.returnTime}`)
				- minReturnTime = time < minReturnTime ? time : minReturnTime
				- maxReturnTime = time > maxReturnTime ? time : maxReturnTime

		if isRoundtrip
			script.
				$(() => {
					$('#returnTimeRange').data('ionRangeSlider').update({
						min: #{minReturnTime.valueOf()},
						max: #{maxReturnTime.valueOf()},
						from: #{minReturnTime.valueOf()},
						to: #{maxReturnTime.valueOf()},
						step: 1800000,
						prettify: (timestamp) =>
							new Date(timestamp).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false }),
					});
				})
				
		script.
			$(() => {
				$('#departureTimeRange').data('ionRangeSlider').update({
					min: #{minDepartTime.valueOf()},
					max: #{maxDepartTime.valueOf()},
					from: #{minDepartTime.valueOf()},
					to: #{maxDepartTime.valueOf()},
					step: 1800000,
					prettify: (timestamp) =>
						new Date(timestamp).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false }),
				});
			});
	script.
		setTimeout(() => {
			$('#preloaderFlights').fadeOut(500);
			$('#preloaderFlights').next().fadeIn(500)
		}, 3000);
