extends layout
include mixins/_alert
include mixins/_preloader
include mixins/_password-strength

block title
	title Sign up - Flight Finder

block preloader
	+preLoaderImage#preloader

block content
	main.bg-gray(role='main')
		.container.py-5.py-lg-12
			.row.align-items-center.justify-content-center
				.col-md-10.col-lg-7.col-xl-6
					h3.section-title.section-title-left.section-title-gutter-sm.mb-5 Account sign up
					+showAlert
					.card.shadow-soft
						.card-body.p-4
							form#signUpForm.needs-validation(method='POST', action='/user/sign-up', novalidate='')
								.form-row
									.form-group.col-sm-6
										label.text-muted.required(for='firstName') First name
										.prepend-icon
											i.fas.fa-user.fa-fw
											input#firstName.form-control(type='text', name='firstName', placeholder='John', required='')
											.invalid-feedback First name is required.
									.form-group.col-sm-6
										label.text-muted.required(for='lastName') Last name
										.prepend-icon
											i.fas.fa-user.fa-fw
											input#lastName.form-control(type='text', name='lastName', placeholder='Doe', required='')
											.invalid-feedback Last name is required.
								.form-row
									.form-group.col-sm-6
										label.text-muted.required(for='mobile') Mobile number
										.prepend-icon
											i.fas.fa-mobile.fa-fw
											input#mobile.form-control(
												type='tel',
												pattern='[0-9]{6,10}',
												maxlength='10',
												name='mobile',
												placeholder='0123456789',
												required=''
											)
											.invalid-feedback Mobile number is required.
									.form-group.col-sm-6
										label.text-muted.required(for='gender') Gender
										.prepend-icon.custom-select2
											i.fas.fa-venus-mars.fa-fw
											select#gender.select2-input.form-control.custom-select(
												name='gender',
												data-minimum-results-for-search='Infinity',
												data-placeholder='Male',
												required=''
											)
												option(selected='', value='', disabled='', hidden='')
												option(value='male') Male
												option(value='female') Female
											.invalid-feedback Gender is required.
								.form-group
									label.text-muted.required(for='email') Email address
									.prepend-icon
										i.fas.fa-envelope.fa-fw
										input#email.form-control(type='email', name='email', placeholder='johndoe@placeholder.com', required='')
										.invalid-feedback Email address is required.
								.form-group.password-strength
									label.text-muted.required(for='password') Password
									.prepend-icon
										i.fas.fa-lock.fa-fw
										input#password.form-control.mb-3(
											type='password',
											name='password',
											pattern='^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!^+%/()=?_:`@~|\\}\\]\\[{$.,*-])[A-Za-z\\d!^+%/()=?_:`@~|\\}\\]\\[{$.,*-]{8,30}$',
											placeholder='Password',
											data-toggle='password-strength',
											required=''
										)
										+passwordStrength
								.form-group.custom-control.custom-checkbox.mt-5
									input#acceptTAC.custom-control-input(type='checkbox', name='acceptTAC', required='')
									label.custom-control-label.font-size-15(for='acceptTAC')
										| I have read and accept the
										a(href='/pages/terms-and-conditions') &nbsp;Terms and Conditions
								.form-group
									button.btn.btn-primary.btn-block(type='submit', data-toggle='loader') Sign up
								p.font-size-14.text-center.mt-1.mb-0
									| Already a memeber?
									a(href='/user/sign-in') &nbsp;Sign in

block append vendorScripts
	script(src='/static/vendors/zxcvbn/zxcvbn.js')
block append customScripts
	script(src='/static/js/password-strength.js')
