extends ../layout

block title
	title Password changed - Flight Finder

block image
	img.adapt-img(
		src='https://fuollv.stripocdn.email/content/guids/CABINET_97291e26d968552b15cd4035799dcef4/images/50111589809022287.png',
		alt='',
		style='display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;',
		width='400'
	)

block content
	tr(style='border-collapse:collapse;')
		td.es-m-txt-c(align='center', style='padding:0;Margin:0;padding-top:15px;padding-bottom:15px;')
			h1(
				style='Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:\'Rubik\', helvetica, arial, sans-serif;font-size:20px;font-style:normal;font-weight:normal;color:#3B444F;'
			)
			strong Password changed!
	tr(style='border-collapse:collapse;')
		td(align='center', style='padding:0;Margin:0;padding-left:10px;padding-right:10px;')
			p(
				style='Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:\'Rubik\', helvetica, arial, sans-serif;line-height:24px;color:#67747C;'
			) Hi, #{firstName} #{lastName}
	tr(style='border-collapse:collapse;')
		td(align='center', style='padding:0;Margin:0;padding-left:10px;padding-right:10px;')
			p(
				style='Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:\'Rubik\', helvetica, arial, sans-serif;line-height:24px;color:#67747C;'
			) Your Flight Finder password has been changed.
	tr(style='border-collapse:collapse;')
		td(align='center', style='padding:0;Margin:0;padding-left:10px;padding-right:10px;padding-top:25px;')
			p(
				style='Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:\'Rubik\', helvetica, arial, sans-serif;line-height:24px;color:#67747C;'
			)
			| If you did not just try to reset your password, please contact our Support Team to help secure your account. Otherwise, please click the button below to sign in:
	tr(style='border-collapse:collapse;')
		td(align='center', style='Margin:0;padding-left:10px;padding-right:10px;padding-top:40px;padding-bottom:40px;')
			span.es-button-border.es-button-border-2(
				style='border-style:solid;border-color:#297CBB;background:#297CBB;border-width:0px;display:inline-block;border-radius:25px;width:auto;'
			)
				a.es-button.es-button-1(
					href=`${actionUrl}`,
					target='_blank',
					style='mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:\'Rubik\', helvetica, arial, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#297CBB;border-width:15px 30px;display:inline-block;background:#297CBB;border-radius:25px;font-weight:bold;font-style:normal;line-height:17px;width:auto;text-align:center;'
				) SIGN IN
